# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
number_schools = len(school_data_complete["school_name"].unique())
number_schools

15

In [4]:
number_students = school_data_complete["Student ID"].count()
number_students

39170

In [5]:
total_budget = school_data["budget"].sum()
total_budget
print(total_budget)

24649428

In [6]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score
print(average_math_score)

78.98537145774827

In [7]:
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
overall_score = (average_reading_score + average_math_score) /2 
overall_score

80.43160582078121

In [9]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = school_data_complete.loc[school_data_complete["math_score"] > 70,:]["Student ID"].count()
print(passing_math_score)
percentage_pass_math = (passing_math_score / number_students) *100
print(percentage_pass_math)

28356
72.39213683941792

In [17]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = school_data_complete.loc[school_data_complete["reading_score"] > 70,:]["Student ID"].count()
print(passing_reading_score)
percentage_pass_reading = (passing_reading_score / number_students) *100
print(percentage_pass_reading)

32500
82.97166198621395

In [18]:
district_overall_df = {"Total Schools": [number_schools], "Total Students": [number_students], "Total Budget": [budget], 
                                          "Average Math Score": [math_score], "Average Reading Score": [reading_score],
                                          "Overall Passing Rate": overall_score, "Percentage of Passing Students in Math: percentage_pass_math,"Percentage of Passing Students with Reading": percentage_pass_reading}
district_overall_df

SyntaxError: invalid syntax (<ipython-input-18-5fc9dc50be34>, line 3)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [12]:
#Need to redooverview_df.columns = create_df()
#overview_df.columns = school_data_complete["school_name"].add()
#print(overview_df.columns)

In [13]:
school_name = school_data_complete["school_name"].count()
print(school_name)

39170

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
top_passing_rate = overview_df[""].high()

In [ ]:
lowest_passing_rate = overview_df[""].lowest()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
average_reading_scores_9th = overview_df["9th"].mean
average_reading_scores_10th = overview_df["10th"].mean
average_reading_scores_11th = overview_df["11th"].mean
average_reading_scores_12th = overview_df["12th"].mean
print(average_reading_scores_9th)
print(average_reading_scores_10th)
print(average_reading_scores_11th)
print(average_reading_scores_12th)

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [14]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [15]:
school_spending_df = ["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [16]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.